@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Concert One";
  color: #323232;
}
.home h1{
  text-align: center;
  margin-top: 40%;
  font-size: 70px;
  color: #6db1f1;
  text-shadow: 4px 4px 10px black;
  /* outline: solid black; */
}
.author {
  text-align: center;
  margin-top: 2%;
  margin-left: 15%;
  margin-bottom: 5%;
  padding: 5%;
  width: 50%;
  background-color: #6db1f1;
  border-radius: 30px;
}
.author select{
  font-size: 20px;
  border-radius: 10px;
}
.author:focus-within {
  box-shadow: 5px 5px 2em black;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgb(16, 15, 15);
  margin: 0 auto;
  /* border-bottom: 1px solid #ababab; */
}
.navbar h1 {
  color: #1b80de;
  text-shadow: 3px 3px #323232;
  font-size: 40px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  padding: 6px;
}
.navbar a:hover {
   color: white;
   background-color: #1b80de;
   border-radius: 8px;
}
.aActive {
  color: #1b80de;
}
.content {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}
.blog-preview h2 {
  font-size: 20px;
  color: #1b80de;
  margin-bottom: 8px;
}
.blog-content h2{
   font-size: 40px;
   color: #1b80de;
   margin-top: 10px;
}
.blog-content div{
  margin: 20px;
}
.blog-content button{
  background-color: #1b80de;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.create {
  max-width: 500px;
  margin: auto;
  display: block;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 30px;
  color: #1b80de;
  margin-bottom: 20px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 5px 10px;
  margin: 10px;
  border: 2px solid grey;
  box-sizing: border-box;
  display: block;
}
.create button{
  background-color: #1b80de;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.login-signup-page {
  margin-top: 20%;
  margin-left: 30%;
  background-color: #1b80de;
  border: 3px solid;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  max-width: 300px;
  display: block;
}
.login-signup-page:focus-within{
  box-shadow: 5px 5px 2em black;
}
.login-signup-page:hover{
  box-shadow: 5px 5px 2em black;
}
.login-signup-page label{
  color: white;
  padding: 3px;
  margin: 5px;
} 
.login-signup-page input{
  width: 90%;
  padding: 3px;
  margin: 10px;
} 
.login-signup-page input:focus{
  box-shadow: 5px 5px 2em black;
} 
.login-signup-page h2{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
.login-signup-page button{
  background-color: white;
  color: #1b80de;
  margin-right: 20px;
  border: 0;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  /* display: block; */
  cursor: pointer;
}
.page-not-found h2{
  margin-top:300px; 
  font-size:40px; 
  text-shadow:"0 0 1em black";
}
.notification {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 20px;
  background-color: #f7555d;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  box-shadow: 2px 2px 1em black;
}

.loginsignup {
  margin-top: 40%;
}
.loginsignup a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #77b3ec;
  border-radius: 5px;
}
.loginsignup a:hover{
  box-shadow: 5px 5px 1em #323232;
}